<a href="{{ link }}" class="{{ type }} {{ classes }} button">
    {{ text }}
</a>

<style>
.button_type1 {
    padding: 18px 20px;
    border: 3px solid #6D7E60;
    background: white;
    transition: all ease-in-out .3s;
}   

.button_type1:hover {
    background: #6D7E60;
    color: white;
}

.button_type1:hover svg {
    transform: scale(1.3333);
}

.button_type2 {
    padding: 18px;
    background: #6D7E60;
    border: 2px solid #6D7E60;
    color: white;
    transition: all ease-in-out .3s;
}   

.button_type2:hover {
    background: white;
    color: #6D7E60;
    border: 2px solid #6D7E60;
}

.button_type2:hover svg {
    transform: scale(1.3333);
}

.button_type3 {
    color: white;
    transition: all ease-in-out .3s;
}   

.button_type3::after {
    content: "";
    width: 64px;
    height: 1px;
    margin-top: 8px;
    background: white;
}

.button_type3:hover svg {
    transform: scale(1.3333);
}

.button_type3:hover::after {
    width: 100%;
}

.button_type4 {
    color: black;
    transition: all ease-in-out .3s;
}   

.button_type4::after {
    content: "";
    width: 38px;
    height: 1px;
    margin-top: 8px;
    background: black;
}

.button_type4:hover svg {
    transform: scale(1.3333);
}

.button_type4:hover::after {
    width: 100%;
}

.button_type5 {
    padding: 18px;
    border: 3px solid white;
    background: #6D7E60;
    color: white;
    transition: all ease-in-out .3s;
}

.button_type5:hover {
    background: white;
    color: #6D7E60;
}

.button_type5:hover svg {
    transform: scale(1.3333);
}

</style>